################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdoNetTemplate/v15
/AdoDB2/bin/x64/Debug
/AdoNetTemplate/bin/x64/Debug
/AdoNetTemplateTests/bin/Debug
/AdoNetTemplateTests/obj/Debug
/AdoOracle/bin/x64/Debug
/AdoOracle/obj
/AdoDB2/obj
/AdoNetTemplate/obj
/AdoOracleUnitTest/bin/x64
/AdoOracleUnitTest/obj
